<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>

	<logger name="org.springframework.context.annotation.AnnotationConfigApplicationContext" level="error"/>
	<logger name="org.geoserver.acl.api.client" level="info"/>
</configuration>