# Builds and pushes docker images on main and tags
name: Test GeoSever plugin
on:
  push:
    branches:
      - '**'
  pull_request:
    branches: [ main ]

jobs:
  test-gs-dev-plugin:
    name: GeoServer dev version
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        java-version: [ 11, 17, 21 ]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java-version }}
        cache: 'maven'
    - run: |
        make plugin-test-gs-dev
  test-gs-stable-plugin:
    name: GeoServer stable version
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        java-version: [ 11, 17, 21 ]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java-version }}
        cache: 'maven'
    - run: |
        make plugin-test-gs-stable
